.parentdiv {
  margin: auto;
  text-align: center;
  display: table;
  margin: 0 auto;
}
.dyk {
  display: table;
  margin: 0 auto;
  padding: 30px;
  width: 1200px;
}
.trendanalysis {
  display: table;
  margin: 0 auto;
  padding: 10px;
  width: 1200px;
}

.main {
  border: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1% 1% 1% 1%;
  margin: 2% 2% 2% 2%;
}
.Content {
  width: 44%;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5%;
  border-radius: 25px;
  padding: 1%;
}
.chart1,
.chart2,
.chart3 {
  width: 60%;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  padding: 1%;
  border-radius: 25px;
}
